html[theme="light"] {
    // if the theme attribute is "light"

    --bg-shape: url('../images/spiral-light.png');

    body {
        background: white;
        transition: all 0.3s;
    }

    * {
        color: $paragraph_light; // this will change all the paragraph colors 
    }

    #sidebar {
        .logo img {
            filter: invert(1); //inverts what's in black in white 
        }

        nav ul li {
            a {
                &:hover i {
                    color: $paragraph_light;
                }

                i {
                    color: $grey_light;
                }
            }

            >span {
                background: $secondary_grey_light;
            }
        }

        .toggle-mode .outer {

            background: $secondary_grey_light;

            .inner {
                margin-top: 5px;

                &:before {
                    background: $secondary_grey_light;
                    opacity: 0;
                }
            }
        }
    }

    .btn-custom-blue {
        background: #e9efff;
        color: $primary;
    }

    .btn-custom-dark {
        background: $secondary_grey_light;
        color: $paragraph_light;
    }

    #home {
        .info {
            h1 span {
                color: $grey_light;
            }

            .field h2 {
                color: $grey_light;
            }

            .socials ul li a {

                &:hover {
                    background: $secondary_grey_light;

                    i,
                    span {
                        color: $paragraph_light;
                    }
                }

                i,
                span {
                    color: $grey_light;
                }
            }
        }
    }

    main>section {
        header.has-bg img {
            z-index: 0;

            &[src="assets/images/header-light.png"] {
                display: block;
            }

            &[src="assets/images/aboutmepicture.png"] {
                display: none;
            }
        }

        header.custom {

            &:before {
                background: $secondary_grey_light !important;
            }

            h2 {
                background: #ffff !important;
                color: $paragraph_light;

            }
        }
    }

    #about_me {

        .rate span:not(.fill) {

            &:before,
            &:after {
                background: $grey_light;
            }
        }

        .hero .info {
            h2 {
                color: $grey_light
            }

            p {
                color: $paragraph_light
            }

            .items .item .value {
                color: $grey_light;
            }
        }

        .languages-skills .languages-key-skills .languages .items .item .info .level {
            color: $grey_light;
        }

        .languages-skills .web-skills .items .item {
            background: $secondary_grey_light;

            .year {
                color: $grey_light;
            }

            &:after,
            &:before {
                background: lighten($primary, 20%);
            }
        }

    }

    #my_resume {

        .items .item {

            &:hover {

                .icon {
                    background: lighten($primary, 25%);

                    &:before {
                        background: lighten($primary, 25%);
                    }
                }

                .box {


                    &:before {
                        border-right-color: lighten($primary, 25%);
                    }

                    &:after {
                        background: lighten($primary, 25%);
                    }
                }
            }

            .icon {
                background: $secondary_grey_light;

                &:before {
                    background: darken($secondary_grey_light, 10%);
                }
            }


            .box {
                background: rgba($secondary_grey_light, 0.8);

                p {
                    color: $grey_light
                }

                &:before {
                    border-right-color: rgba($secondary_grey_light, 0.8);
                }
            }
        }
    }

    #my_work {
        .filters {
            button {

                &.active {
                    background: $secondary_grey_light;

                    h4 {
                        color: $paragraph_light;
                    }
                }

                h4 {
                    color: $grey_light;
                }
            }
        }

        .work-items .item .wrap:after {
            background: rgba(#ffff, 0.8);
        }
    }

    .modal#workModal {

        .modal-dialog .modal-content {
            background: white;

            .modal-body {
                .modal-close-button {
                    background: $secondary_grey_light;

                    &:hover {
                        background: $primary;

                        i {
                            color: white;
                        }
                    }
                }

                .left p {
                    color: $grey_light;

                }

                .right .value {
                    color: $grey_light;
                }
            }
        }
    }

    #my_testimonial {
        .main-section .comments .item .box {
            background: rgba($secondary_grey_light, 0.9);

            &:before {
                border-bottom-color: rgba($secondary_grey_light, 0.9);
            }
        }

        .writer span.field {
            // didn't work because there were less selectors 
            color: $grey_light !important;
        }

    }

    #contact_me {
        .container {
            .form {

                .form-item {

                    &:before {
                        background: $secondary_grey_light;
                    }

                    &:after {
                        background: $primary;
                    }

                    label {
                        color: $grey_light;
                    }
                }
            }

            .info {
                .item {
                    &:hover {
                        i {
                            background: $primary;
                            color: white;
                        }

                    }
                }

                i {
                    background: $secondary_grey_light;
                }

                .text {
                    .title {
                        color: $grey_light;
                    }

                    a {
                        color: $paragraph_light;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    html[theme="light"] {
        #sidebar {
            background: lighten($primary, 25%);

            .toggle-sidebar {
                background:  lighten($primary, 25%);
            }

            nav ul li a:before {
                border-radius: 10%;
                width: 100%;
                
            }
        }
    }
}