// we will write a series of scss files of the entire website 
main {
    padding-left: 102px;

    > section { // ">" means the section that comes after main 
        display: none;
        padding-left: 100px;
        padding-right: 100px;

        &.active {
            display: block;
        }
    }
}