// we will write a series of scss files of the entire website 
main {
    padding-left: 102px;

    > section { // ">" means the section that comes after main 
        display: none;
        padding-left: 32px;
        padding-right: 32px;

        &.active {
            display: block;
        }

        &:not(#home) { // all pages execpt home will have a paading top of 64px 
            padding-top: 64px;
        }

        header.has-bg {
            position: relative;
            display: inline-flex;

            img {
                position: absolute;
                left: -50px;

                &[src="assets/images/header-light.png"] {
                    display: none;
                }
            }
        }

        header.custom {
        text-align: center;
        position: relative;
        margin-bottom: 42px;

        &::before {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $secondary;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;


        }

        h2 {
            display: inline-block;
            padding: 0 24px;
            background-color: $dark_bg;
        }
    }
        
    }
}