// we will write a series of scss files of the entire website 
main {
    padding-left: 102px;

    > section { // ">" means the section that comes after main 
        display: none;
        padding-left: 32px;
        padding-right: 32px;

        &.active {
            display: block;
        }

        &:not(#home) { // all pages execpt home will have a paading top of 64px 
            padding-top: 64px;
        }

        header.has-bg {
            position: relative;

            img {
                position: absolute;
                left: -50px;
            }
        }

        
    }
}